/* @section ALL */
#resume-preview {
  width: 210mm;
  height: 297mm;
  max-width: 100%;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20mm;
  padding-bottom: 20mm;
  padding-left: 15mm;
  padding-right: 15mm;
  font-family: 'Minion Pro';
}

/* @section SETTINGS */
#resume-preview h2 {
  font-size: 16px;
  color: #000000;
  border-bottom: 1px solid;
  border-color: #000000;
}

#resume-preview .header__name {
  color: #000000;
}

/* @section HEADING */
#resume-preview .section-heading {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  margin-bottom: 12px;
  padding-bottom: 8px;
}

#resume-preview .section-heading__icon {
  color: #2563eb;
}

/* @section HEADER */
#resume-preview .header {
  display: flex;
  flex-direction: column;
}

#resume-preview .header__name {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 4px;
}

#resume-preview .header__title {
  font-size: 20px;
  font-weight: 500;
  color: #1e293b;
  margin-bottom: 8px;
}

#resume-preview .header__contact {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 14px;
  color: #1e293b;
  margin-bottom: 8px;
}

#resume-preview .header__contact-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

#resume-preview .header__avatar {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 16px;
  border: 2px solid #374151;
  background: #1f2937;
  align-self: flex-start;
}
